In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\umarfarooque\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\umarfarooque\anaconda3\lib\site-packages (from selenium) (1.25.11)

##Q1: Write a python program to scrape data for “Data Analyst” Job position in“Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data.

In [2]:
#importiong neccessary libraries
import selenium
import pandas as pd
from selenium import webdriver

In [3]:
driver = webdriver.Chrome(r"C:\Users\UmarFarooque\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
url = 'https://www.naukri.com/ '
driver.get(url)

In [5]:
#entering "Data Analyst" in job search bar using selenium driver
search_job = driver.find_element_by_class_name('sugInp')
search_job.send_keys("Data Analyst")

In [6]:
#entering "Bangalore" in location search bar using selenium deriver
location = driver.find_element_by_name('location')
location.send_keys("Bangalore")

In [7]:
#clicking submit button using selenium deriver
submit_button = driver.find_element_by_xpath('//button[@class="btn"]')
submit_button.click()

In [8]:
#finding job title element using xpath
title_tags= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="faac0d26-93bb-4efb-b2cf-8f5a041a9c6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="ea975997-ae11-4c0d-a84e-dec8057df9c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="6cad94bb-04c2-4ce9-aa86-955dfb486ac0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="732471aa-9c2e-4678-a915-6fdd42073494")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="69ad0bb6-5907-43ae-be1a-4400c8933c8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="22617339-aaaa-44ab-8a29-c67af4f2a64d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="019502bb-cb0b-43d5-a544-7a7cc641f1da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="2c58721f-a203-402a-8035-d6ee0b206c60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="959d180c-e4d5-4290-9c51-c0946e527216")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="b7e24d7e-4111-412f-87f6-74e105b7d57b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="3d50625c-5d82-460b-8b35-ff19f6b9055b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="c4ac32b4-4d1d-423c-90cd-2d7496ff1681")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="00e1de99-b97d-46eb-aa46-c5540d7c4c35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="48948b62-6ea2-4f8e-91f3-37b44717c28c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="47d47b71-67a1-4b27-a714-f37534a86f20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="13411bdd-64bc-48f1-ab50-f83f75d9a786")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="5b5e8255-025d-4a65-b62c-4cd678d28220")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="39557648-a7de-4a47-9e81-a409b0a63e3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="7e3f8dd1-5793-44b6-ba4c-f89ce649da38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="11801018-c900-48ba-8f60-83c91ea5f3c8")>]

In [9]:
#getting all the available text in the title_tags element
job_title =[]

for i in title_tags:
    job_title.append(i.text)

In [10]:
#printing job_title
job_title

['Data Analyst',
 'Systems and Data Analyst, Safety and Provisioning',
 'Data Annotator | Data Entry | Work From Home | Data analyst | Data QC',
 'Senior CDP (Customer Data Platform) Analyst',
 'Senior Analyst - Data & Analytics',
 'Senior Data Analyst - SQL/Tableau/Redshift',
 'Lead Data Analyst',
 'Business Data Analyst - Alteryx/Hadoop',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Immediate Opening For Senior Data Analyst (PLSQ) For Pune location',
 'Data Analyst - Work from Home',
 'Data Analyst',
 'Data Analyst',
 'Medical Operations Data Analyst',
 'ID&A - Data Analyst - Informatica MDM',
 'Data analysts',
 'Data Analyst',
 'Data Scientist / Data Analyst -Business Analyst',
 'Business Data Analyst || Girikon Solutions']

In [70]:

#finding location   element using xpath
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag

[<selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="c28c92d2-79ea-4808-a466-a9ac279dd1f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="f0a05947-efda-4a82-97c2-75c02289e3ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="edf2f2dc-4d69-4c80-a9ee-002e321f3257")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="feaa9d4d-915e-4249-93e2-298eac7a95ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="f5a59a50-b30f-4db7-b111-fdb5e19515fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="92628006-f5e2-4da4-a918-3d4a46dd2909")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="0e226913-9756-4d3b-9b56-acdc46ed9894")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="dd16ac9c-005a-4d2a-aef8-ab502c7967aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="3578efc4-4ec4-4aa8-bb80-9014c2362883")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="dde4c905-d31d-4bad-932a-9034011b3373")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="638eb8d8-f31d-48c7-b319-cc5845850696")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="cb82f827-b6e1-4520-8a5b-eba9037a2334")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="abb55fd1-5684-4b86-9420-c3739ad9d4eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="216b6a23-bacc-4461-8acf-ab6837ec586b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="e1578ca0-1e46-43bf-8a57-b52374ec94c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="3442105c-3f1c-447d-9a10-a5ce24af97aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="78d90f7d-390c-48ca-aad7-24debd91b458")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="1e303817-d5d2-47ea-a991-982ecbd32c62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="72988450-cacb-49b2-a1b7-3886adb6e981")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="5dff511f-f955-4525-9fbe-3127d9c7d807")>]

In [71]:
#getting all the available text in the location_tag element with slicing to fetch only location 
location =[]

for i in location_tag:
    location.append(i.text)

In [72]:
#printing location 
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Mumbai, Indore, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'United States (USA), Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Vyalikaval)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru']

In [46]:
#finding location   element using xpath
exp_tag= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
exp_tag

[<selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="b911886a-4c83-4494-b37b-409c3dcc8c0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="726f8fb2-7eb5-44a1-8370-ebd7c2130149")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="adb355d9-144f-4507-a5c3-170c15e78459")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="60f8f8fe-47e1-455d-ae52-3c98d2eb619d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="00920542-f9b0-4800-b003-3eda5964e627")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="b3cabdb8-9949-44cb-8d9f-86ff490a8e5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="61357d27-afb7-46f6-8d42-adee4dfe7c92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="6ad1760d-5612-4f7e-9246-1e2134747787")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="f8934ca7-bd95-48df-86dc-8ee1d95c1344")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="fde047d3-fa87-4b22-89f1-61fd189a0152")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="d220d427-8251-45c6-becc-3577705242f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="113f611f-9324-4574-b111-bc4d5dc028ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="d7ae7fe4-f2fd-43ad-a6e0-9c3977a8f62c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="34937935-d869-443e-a750-16e0bac1e422")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="1d7400a9-26b2-40ab-86f5-131b8632d4eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="e6715e89-06fd-47a9-9b7d-fdc31f89d34d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="c73442e2-ef83-458a-b88f-7edb0279e7ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="a639ba13-826b-46d8-8afa-f78fc513e31b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="2e1493e8-0ca4-496a-9b37-35eb2ecb5cdc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="7800ebd4-9cba-445a-98c0-9048de5d79a2")>]

In [47]:
#getting all the available text in the location_tag element with slicing to fetch only experience 
experience = []
for i in exp_tag:
    experience.append(i.text)

In [48]:
experience

['6-8 Yrs',
 '3-5 Yrs',
 '0-2 Yrs',
 '4-9 Yrs',
 '3-8 Yrs',
 '6-10 Yrs',
 '5-10 Yrs',
 '5-8 Yrs',
 '1-3 Yrs',
 '1-5 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '1-6 Yrs',
 '3-7 Yrs',
 '3-6 Yrs',
 '6-9 Yrs',
 '2-7 Yrs',
 '5-10 Yrs',
 '0-3 Yrs',
 '5-10 Yrs']

In [49]:
#finding company name element using xpath
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag

[<selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="bb09c966-5f97-42e0-8d3e-cbc57c5934f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="29f14ca6-82f9-4e2f-958b-cb2f0234fb1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="aeccaf7a-dba2-4894-8b5f-8da0eedc44d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="a58c8f10-e74b-44c9-a282-a6041017a6c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="f758b171-1d12-4d31-841a-fc35161d2155")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="a0de5b48-fe8b-4876-9064-b586ea449e83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="246161bc-c85e-4be1-a446-deab89470ca5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="bf2c8073-1dfa-4443-a557-df5b6e792b4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="5d8a1935-1e5c-49cc-8f3e-fe0079dc1ea8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="048f3f0d-319f-48ce-8433-5cd69672d2fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="e0ab054e-61af-4f89-b10a-5f5934ed11aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="8746a608-c146-4bc4-a9ef-1a019ffdbff3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="2ec13347-ce60-4b83-8b86-4caf8a54dede")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="8e1f47a8-3c09-4bb6-8227-a8f7a1ff2c19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="a35ec77c-8ca0-4e0f-9a15-6e218069a406")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="0a96dda0-2398-44f8-bcc0-c3e337296545")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="e64e76d9-bfe9-4519-8797-4b45e50bc0ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="e3eeb0fd-cc83-4dce-a65b-5124e22e1f27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="73f737b1-43b1-4eb7-9b9e-d5df9d5143e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="97154262b47560e650ab3fd283fe88b5", element="689c41c0-43db-42ad-80f9-9dbf4024d3b3")>]

In [50]:
#getting all the available text in the company_tag element to fetch company name and appending the same in for loop
company_name = []

for i in company_tag:
    company_name.append(i.text)

In [51]:
#printing company name
company_name

['Enzen Global Solutions Pvt. Ltd',
 'AECOM India Private Limited',
 'saarthi.ai',
 'Indegene',
 'Indegene',
 'Pronto Consulting Services',
 'Bidgely Technologies Private Limited',
 'Talent Placers',
 'Publicis Groupe',
 'Publicis Groupe',
 'Harman Connected Services',
 'POWER STORES E COMMERCE PRIVATE LIMITED',
 'Innovsource Services Private Limited',
 'Enzen Global Solutions',
 'Tricog Health India Private Limited',
 'Shell India Markets Private Limited',
 'Kwalee ltd.',
 'IBM India Pvt. Limited',
 'Inflexion Analytix Private Limited',
 'Girikon Solutions Pvt. Ltd.']

In [75]:
#slicing all list as we just wanted the forst 10 values from each list
job_title =job_title[0:10]
experience = experience[0:10]
location = location[0:10]
company_name =company_name[0:10]

In [76]:
experience

['6-8 Yrs',
 '3-5 Yrs',
 '0-2 Yrs',
 '4-9 Yrs',
 '3-8 Yrs',
 '6-10 Yrs',
 '5-10 Yrs',
 '5-8 Yrs',
 '1-3 Yrs',
 '1-5 Yrs']

In [77]:
print(len(job_title),len(experience),len(location),len(company_name))

10 10 10 10

In [78]:
# creating dataframe and assigning lists to columns
df = pd.DataFrame({})
df['Job_title'] = job_title
df['Comapany_name'] = company_name
df['Experience'] = experience
df['Location'] = location

In [79]:
df

,Job_title,Comapany_name,Experience,Location
0,Data Analyst,Enzen Global Solutions Pvt. Ltd,6-8 Yrs,Bangalore/Bengaluru
1,"Systems and Data Analyst, Safety and Provisioning",AECOM India Private Limited,3-5 Yrs,Bangalore/Bengaluru
2,Data Annotator | Data Entry | Work From Home |...,saarthi.ai,0-2 Yrs,Bangalore/Bengaluru
3,Senior CDP (Customer Data Platform) Analyst,Indegene,4-9 Yrs,Bangalore/Bengaluru
4,Senior Analyst - Data & Analytics,Indegene,3-8 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst - SQL/Tableau/Redshift,Pronto Consulting Services,6-10 Yrs,"Noida, Mumbai, Indore, Hyderabad/Secunderabad,..."
6,Lead Data Analyst,Bidgely Technologies Private Limited,5-10 Yrs,"United States (USA), Bangalore/Bengaluru"
7,Business Data Analyst - Alteryx/Hadoop,Talent Placers,5-8 Yrs,Bangalore/Bengaluru
8,Senior Data Analyst,Publicis Groupe,1-3 Yrs,Bangalore/Bengaluru
9,Senior Data Analyst,Publicis Groupe,1-5 Yrs,Bangalore/Bengaluru

#Q2.Write a python program to scrape data for “Data Scientist” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [1]:
#importiong neccessary libraries
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver = webdriver.Chrome(r"C:\Users\UmarFarooque\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
url = 'https://www.naukri.com/ '
driver.get(url)

In [4]:
#entering "Data Scientist" in job search bar using selenium driver
search_job = driver.find_element_by_class_name('sugInp')
search_job.send_keys("Data Scientist")

In [5]:
#entering "Bangalore" in location search bar using selenium deriver
location = driver.find_element_by_name('location')
location.send_keys("Bangalore")

In [6]:
#clicking submit button using selenium deriver
submit_button = driver.find_element_by_xpath('//button[@class="btn"]')
submit_button.click()

In [7]:
#finding job title element using xpath
title_tags= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="319799e7-b226-4f9f-bd2a-ca0c6a4cb214")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="8dea9a3c-eadb-48a5-9e9c-7db9f6117f3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="e51bea7c-a5e2-4acd-894c-cf0f7d95c8b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="fed88e45-840a-42bd-999f-a2a330f890dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="edd884b7-1f0f-42c0-bc05-07bd81e72e13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="d338ccfa-0cf7-4a1e-b9db-67343152924b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="35dd791b-5e99-4172-9817-a23f359b6f2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="2cb9a5b6-717f-474a-abbd-16173bff75fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="916f9969-b0ec-4d90-beb3-2caa689a6a69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="bb51fc8b-8cdc-49e9-83d6-c01cd133a88e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="6d505c93-08c7-4ace-8b0e-547b2a64f70d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="8568751e-a065-49cb-acb2-8f6e57e595db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="520bcb1d-a2e5-4484-a75c-385f1f9cf288")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="3923b215-0b0a-448c-855b-e1d931581f6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="b253d868-bcd0-4483-a556-23adae2442b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="6cb49f03-03ed-4a1a-bfda-b1306e23c9a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="e2119fc6-07b8-4048-b6dc-9c6edb6040ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="de5a9c5a-532f-4392-9cb7-9b6ccb080c5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="e068bd5d-a394-4a7b-adac-8f4af25fdb94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="314eda2c-4786-4f0a-94aa-9918a5928319")>]

In [9]:
#getting all the available text in the title tags element with slicing to fetch only job_title 
job_title =[]

for i in title_tags:
    job_title.append(i.text)

In [10]:
job_title

['Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'DATA SCIENTIST',
 'Data Scientist - Permanent Role',
 'Data Engineers , Data Scientist and SAP',
 'Python - Data Scientist',
 'Western Digital Data Scientist 3',
 'Western Digital Data Scientist',
 'Data Scientist 4',
 'Data Scientist /Sr.Data Scientist',
 'Senior Software Engineer - Data Scientist',
 'Senior Associate - Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr Data Scientist',
 'Sr . Data Scientist',
 'Senior Data Scientist']

In [11]:
#finding location   element using xpath
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag

[<selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="9b5090b5-8769-42ee-9c47-617888ef7c57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="5d951b9b-33d1-4ee2-a2a6-03b336b07364")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="bb67855a-9385-48fa-a34b-9726f672f240")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="6c83ba63-3c29-4cb6-a36c-8ebc328c4f04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="3ab71b0e-6360-41c6-ac9f-4629dbba10aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="5dbb441f-45f3-4400-8096-7d799de86b52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="8ebe341c-9f89-44fc-bcfa-f42f945c358b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="70f118da-f16b-4a96-b718-c17522cce0d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="c38871f5-8059-427e-9fe4-3bcb32b0deed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="399a29e8-1d8c-49d5-9efb-d4af0780e72e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="32df02ee-a68b-4528-86d9-e8dd4b1a3df8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="650fd35a-ea42-4f81-bca4-42e0ae130b77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="b946fa43-7118-4382-9685-60cc69edaba2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="f9ad3735-8a12-4934-bace-4b306238bcbc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="df2fb9eb-a191-46a1-942a-30aa532546f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="1b260266-be31-4aa9-a2c2-fbc2d493fe9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="db39c10b-78dc-44d0-b2ab-7b715366d2b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="ade803dd-9992-4742-9015-3759e3d1041c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="83b88b64-80d7-48b5-b162-278f912a8e7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="5926c57c-0f25-4589-895c-c4507bfa2c41")>]

In [12]:
#getting all the available text in the location_tag element with slicing to fetch only location 
location =[]

for i in location_tag:
    location.append(i.text)

In [13]:
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru']

In [14]:
#finding company name element using xpath
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag

[<selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="3fbe513d-abe3-4448-a24a-a80d8861567c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="f608cb46-ca5c-48b0-ae8c-973cc9e110d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="4edd51f6-748e-43c5-93a1-8494806d0044")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="efdc1411-0491-4fba-8202-b2ca7cbd9d60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="1a4403fc-8c4a-473d-aee9-d023c2a2d787")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="feacb776-c92e-4202-a0bf-2d85ac6b7ccb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="25dd9cba-3b53-4bf9-abe0-1fbb0dc5af24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="1f993fb6-eed6-48aa-a2f7-240328b9fe82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="f1f30f7b-b324-42c2-a08b-e3e7f9d6cb46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="8adb71c6-89de-4cec-84b6-44c42f378ec7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="73e3129c-0729-4126-b610-541e25b4f8e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="daf6a997-7a26-4b62-932c-d5dcc7d37547")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="f918ae9d-44b6-4738-b1ae-b191c6b5abf4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="a0e30023-8fab-4efc-b5e0-45d57aacc790")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="f18359eb-eae2-4e14-ab36-fafce3fb23c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="5b99fd8f-1a33-42b0-8f4f-cc96985b17a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="561b8d50-10ee-48ed-9a4a-c3612d79a6db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="db44cf1d-612a-4c63-9478-064e075fc5ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="6b775249-42bd-45f5-8cbd-18ed2afdcf63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb98e6a9bf47833dae62356199f49be8", element="8ce7dc12-be35-476f-8c1d-c6aa5df4faf7")>]

In [15]:
#getting all the available text in the company_tag element to fetch company name and appending the same in for loop
company_name = []

for i in company_tag:
    company_name.append(i.text)

In [16]:
company_name

['Datamatics Global Services Ltd',
 'Publicis Groupe',
 'Bidgely Technologies Private Limited',
 'Goals 101 Data Solutions Pvt. Ltd.',
 'McAfee Software (India) Pvt. Ltd',
 'Onward Technologies Limited',
 'Teamware Solutions',
 'Mindtree Limited',
 'Western Digital',
 'Western Digital',
 'Western Digital',
 'PERSOLKELLY INDIA PRIVATE LIMITED',
 'Ara Resources',
 'Novotree Minds Consulting Pvt Limited',
 'Gojek Tech',
 'GO-JEK India',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Perform Group',
 'Kaleidofin']

In [17]:
job_desc =[]

url = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in url:
    job_desc.append(i.get_attribute('href'))

In [18]:
job_desc2 = []
for i in job_desc:
    driver.get(i)
    job_desc1 = driver.find_elements_by_class_name("job-desc")
    for j in job_desc1:
        job_desc2.append(j.text)

In [19]:
len(job_desc2)

20

In [20]:
# creating dataframe and assigning lists to columns
df1 = pd.DataFrame({})
df1['Job_title'] = job_title
df1['Company_name'] = company_name
df1['Job_Desc'] = job_desc2
df1['Location'] = location

In [21]:
df1 = df1[0:10]

In [22]:
df1

,Job_title,Company_name,Job_Desc,Location
0,Senior Data Scientist,Datamatics Global Services Ltd,Job description\nRoles and Responsibilities\n\...,Bangalore/Bengaluru
1,Senior Data Scientist,Publicis Groupe,Job description\nWork location: Bengaluru (Cur...,Bangalore/Bengaluru
2,Senior Data Scientist,Bidgely Technologies Private Limited,Job description\nBidgely is looking for extrao...,Bangalore/Bengaluru
3,Senior Data Scientist,Goals 101 Data Solutions Pvt. Ltd.,Job description\nRoles and Responsibilities:\n...,"New Delhi, Bangalore/Bengaluru, Delhi / NCR\n(..."
4,DATA SCIENTIST,McAfee Software (India) Pvt. Ltd,Job description\nRole Overview:\nData scientis...,Bangalore/Bengaluru
5,Data Scientist - Permanent Role,Onward Technologies Limited,Job description\nGreetings from Onward Technol...,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
6,"Data Engineers , Data Scientist and SAP",Teamware Solutions,Job description\nDynamic recruiting profession...,Bangalore/Bengaluru
7,Python - Data Scientist,Mindtree Limited,Job description\nBasic Qualifications\n3-5 yea...,Bangalore/Bengaluru
8,Western Digital Data Scientist 3,Western Digital,"Job description\n\nDesign, develop and maintai...",Bangalore/Bengaluru
9,Western Digital Data Scientist,Western Digital,"Job description\n\nDesign, develop and maintai...",Bangalore/Bengaluru

Q3: In this question you have to scrape data using the filters available on thewebpage

In [1]:
#importiong neccessary libraries
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver = webdriver.Chrome(r'C:\Users\UmarFarooque\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
#chrome driver to initiate url and get web elements for the same using selenium


url = "https://www.naukri.com/browse-jobs"

driver.get(url)



#entering "Data Analyst" in job search bar using selenium driver
search_job = driver.find_element_by_class_name('sugInp')
search_job.send_keys("Data Scientist")

#clicking submit button using selenium deriver
submit_button = driver.find_element_by_id("qsbFormBtn")
submit_button.click()

In [ ]:
exp

In [4]:
#finding job title element using xpath
title_tags2= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags2

#getting all the available text in the title_tags element
job_title2 =[]

for i in title_tags2:
    job_title2.append(i.text)

#printing job_title
job_title2

#finding location   element using xpath
location_tag2 = driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")
location_tag2

#getting all the available text in the location_tag element with slicing to fetch only location 
location3 =[]

for i in location_tag2[2::3]:
    location3.append(i.text)

#printing location 
location3
#experience
experience_2 = driver.find_elements_by_xpath("//i[@class='fleft icon-16 lh16 mr-4 naukicon naukicon-experience']//span")
experience_2

#getting all the available text in the location_tag element with slicing to fetch only experience 
experience2 = []
for i in location_tag2[0::3]:
    experience2.append(i.text)

#printing experience
experience2

#finding company name element using xpath
company_tag2 = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag2

#getting all the available text in the company_tag element to fetch company name and appending the same in for loop
company_name2 = []

for i in company_tag2:
    company_name2.append(i.text)

#printing company name
company_name2

['Philips India Limited',
 'Axis Securities Limited',
 'IBM India Pvt. Limited',
 'McAfee Software (India) Pvt. Ltd',
 'SYMBIOSIS International W.L.L',
 'United Phosphorus Limited',
 'CBRE South Asia Pvt Ltd',
 'Fluid AI',
 'Datamatics Global Services Ltd',
 'Pitney Bowes India Pvt Ltd',
 'Wattmonk Technologies Pvt. Ltd.',
 'EinNel Technologies',
 'SEKAI',
 'SEKAI',
 'InnovAccer',
 'Bebo Technologies Pvt Ltd.',
 'Uber',
 'WEGARNER SOLUTIONS PRIVATE LIMITED',
 'InnovAccer',
 'IBM India Pvt. Limited']

In [5]:
print(len(job_title2),len(company_name2),len(experience2),len( location3))

20 20 0 0

In [6]:
# creating dataframe and assigning lists to columns
df2 = pd.DataFrame({})
df2['Job_title'] = job_title2
df2['Company_name'] = company_name2

df2

In [7]:
df2

,Job_title,Company_name
0,Senior Data Scientist,Philips India Limited
1,Internship : Data Scientist,Axis Securities Limited
2,Data Scientist: Advanced Analytics,IBM India Pvt. Limited
3,DATA SCIENTIST,McAfee Software (India) Pvt. Ltd
4,Senior Data Scientist,SYMBIOSIS International W.L.L
5,Data Scientist,United Phosphorus Limited
6,Data Scientist,CBRE South Asia Pvt Ltd
7,Python AI ML Developer and Data Scientist,Fluid AI
8,Senior Data Scientist,Datamatics Global Services Ltd
9,Data Scientist,Pitney Bowes India Pvt Ltd
10,Data Scientist,Wattmonk Technologies Pvt. Ltd.
11,Trainee Data Scientists,EinNel Technologies
12,Data Engineer/Data Scientist,SEKAI
13,Data Engineer/Data Scientist,SEKAI
14,Senior Data Scientist,InnovAccer
15,Senior Data Scientist-Work from anywhere(Immed...,Bebo Technologies Pvt Ltd.
16,Data scientist,Uber
17,Data Scientist / Sr. Data Scientist,WEGARNER SOLUTIONS PRIVATE LIMITED
18,Lead Data Scientist,InnovAccer
19,Senior Data Scientist,IBM India Pvt. Limited

Q4:Write a python program to scrape data for first 10 job results for Data scientistDesignation in Noida location. You have to scrape company_name, No. of daysago when job was posted, Rating of the company.

In [95]:
#chrome driver to initiate url and get web elements for the same using selenium
driver = webdriver.Chrome(r'C:\Users\UmarFarooque\Downloads\chromedriver_win32\chromedriver.exe')

url = "https://www.glassdoor.co.in/member/home/index.htm"

driver.get(url)

driver.maximize_window() # to maximise the chrome window

In [96]:
#entering "Data Analyst" in job search bar using selenium driver
search_job = driver.find_element_by_id('member-home-jobalert-jobtitle-JobAlertJobTitle')
search_job.send_keys("Data scientist")

In [97]:
#entering "Bangalore" in location search bar using selenium deriver
location = driver.find_element_by_id('member-home-jobalert-location-JobAlertLocation').send_keys(u'\ue009' + u'\ue003')
location1 = driver.find_element_by_id('member-home-jobalert-location-JobAlertLocation')
location1.send_keys("Noida")

In [99]:
#clicking submit button using selenium deriver
submit_button = driver.find_element_by_xpath("//body[@class='main loggedIn lang-en en-IN gdGrid member-home _initOk noTouch']")
submit_button.click()

In [110]:

company_Name = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']//span")
company_Name

company_Name1 = []


for i in company_Name:
    company_Name1.append(i.text)
company_Name1 = company_Name1[0:10]
company_Name1 = company_Name1[0:10]

company_Name1

['Indeed',
 '',
 '',
 'Indeed',
 '',
 '',
 'Indeed',
 '',
 '',
 'Digicom Healthcare Solutions']

In [107]:
company_rating = driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
company_rating

company_rating1 = []

for i in company_rating:
    company_rating1.append(i.text)
    
company_rating1 = company_rating1[0:10]
company_rating1

['4.3', '4.3', '4.3', '4.3', '4.0', '2.9', '4.5', '4.1', '3.9', '4.0']

In [109]:
posted_on = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
posted_on

posted_on1 = []

for i in posted_on:
    posted_on1.append(i.text)
posted_on1 = posted_on1[0:10]
posted_on1

['19d', '8d', '30d+', '15d', '30d+', '30d', '2d', '5d', '6d', '17d']

In [111]:
# creating dataframe and assigning lists to columns
df3 = pd.DataFrame({})
df3['company_name'] = company_Name1
df3['company_rating'] = company_rating1
df3['posted_on'] = posted_on1

df3

In [112]:
df3

                   company_name company_rating posted_on
0                        Indeed            4.3       19d
1                                          4.3        8d
2                                          4.3      30d+
3                        Indeed            4.3       15d
4                                          4.0      30d+
5                                          2.9       30d
6                        Indeed            4.5        2d
7                                          4.1        5d
8                                          3.9        6d
9  Digicom Healthcare Solutions            4.0       17d

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.

In [115]:

#chrome driver to initiate url and get web elements for the same using selenium
driver = webdriver.Chrome(r'C:\Users\UmarFarooque\Downloads\chromedriver_win32\chromedriver.exe')

url = "https://www.glassdoor.co.in/Salaries/index.htm"

driver.get(url)

driver.maximize_window() # to maximise the chrome window

In [116]:
#entering "Data Analyst" in job search bar using selenium driver
search_job = driver.find_element_by_id('KeywordSearch')
search_job.send_keys("Data scientist")

#entering "Bangalore" in location search bar using selenium deriver
location = driver.find_element_by_id('LocationSearch').send_keys("Noida")


#clicking submit button using selenium deriver
submit_button = driver.find_element_by_id("HeroSearchButton")
submit_button.click()

In [118]:
company_name = driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")

company_name

company_name1 = []

for i in company_name:
    company_name1.append(i.text)
company_name1 = company_name1[0:10]
company_name1

['Mu Sigma',
 'IBM',
 'Tata Consultancy Services',
 'Impact Analytics',
 'Accenture',
 'Infosys',
 'Capgemini',
 'Cognizant Technology Solutions',
 'Anheuser-Busch InBev',
 'Embibe']

In [119]:
rating = driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")

rating

rating1 = []

for i in rating:
    rating1.append(i.text)
rating1 = rating1[0:10]
rating1

['3.3', '3.9', '3.9', '4', '4.1', '3.4', '3.8', '3.8', '3.7', '4.5']

In [120]:
avg_salary = driver.find_elements_by_xpath("//h3[@class='m-0 css-g261rn']")

avg_salary

avg_salary1 = []

for i in avg_salary:
    avg_salary1.append(i.text)
avg_salary1 = avg_salary1[5::2]
avg_salary1 = avg_salary1[0:10]
avg_salary1

['₹6,34,950',
 '₹11,83,457',
 '₹8,76,867',
 '₹6,54,456',
 '₹9,00,000',
 '₹9,18,747',
 '₹9,37,500',
 '₹9,28,801',
 '₹16,06,066',
 '₹13,75,266']

In [133]:
# creating dataframe and assigning lists to columns
df5 = pd.DataFrame({})
df5['company_name'] = company_name1
df5['Rating'] = rating1
df5['Salary per month'] = avg_salary1

In [134]:
df5

                     company_name Rating Salary per month
0                        Mu Sigma    3.3        ₹6,34,950
1                             IBM    3.9       ₹11,83,457
2       Tata Consultancy Services    3.9        ₹8,76,867
3                Impact Analytics      4        ₹6,54,456
4                       Accenture    4.1        ₹9,00,000
5                         Infosys    3.4        ₹9,18,747
6                       Capgemini    3.8        ₹9,37,500
7  Cognizant Technology Solutions    3.8        ₹9,28,801
8            Anheuser-Busch InBev    3.7       ₹16,06,066
9                          Embibe    4.5       ₹13,75,266

Q6:Scrape data of first 100 sunglasses listings on flipkart.com.

In [135]:
#chrome driver to initiate url and get web elements for the same using selenium
driver = webdriver.Chrome(r'C:\Users\UmarFarooque\Downloads\chromedriver_win32\chromedriver.exe')

url = "https://www.flipkart.com/"

driver.get(url)

driver.maximize_window() # to maximise the chrome window

#entering "Data Analyst" in job search bar using selenium driver
search_glass = driver.find_element_by_class_name('_3704LK')
search_glass.send_keys("Sun Glasses")
#clicking submit button using selenium deriver
button_1 = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
button_1.click()
driver.implicitly_wait(3)
click_button = driver.find_element_by_class_name("L0Z3Pu")
click_button.click()

brand_name = []
prd_desc = []
price = []
discount = []

for k in range(1,4):

    
    brand = driver.find_elements_by_class_name('_2WkVRV')
    

    for i in brand:
        brand_name.append(i.text)

    desc = driver.find_elements_by_class_name('IRpwTa')
    

    for i in desc:
        prd_desc.append(i.text)

    cost = driver.find_elements_by_class_name("_30jeq3")
    

    for i in cost:
        price.append(i.text)


    dis = driver.find_elements_by_class_name("_3Ay6Sb")
    

    for i in dis:
        discount.append(i.text)
    
    
        nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")              #scraping the list of buttons from the page

    try:

        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
        

    except:

        driver.get(nxt_button[0].get_attribute('href'))

In [136]:
brand_name = brand_name[0:100]
prd_desc = prd_desc[0:100]
price = price[0:100]
discount = discount[0:100]

In [137]:
# creating dataframe and assigning lists to columns
df4 = pd.DataFrame({})
df4['brand_name'] = brand_name
df4['prd_desc'] = prd_desc
df4['[price]'] = price
df4['discount'] = discount

In [138]:
df4

,brand_name,prd_desc,[price],discount
0,Wrogn,Mirrored Wayfarer Sunglasses (51),₹739,71% off
1,Villain,Others Wayfarer Sunglasses (Free Size),₹549,45% off
2,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹455,43% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹509,36% off
...,...,...,...,...
95,Villain,Others Retro Square Sunglasses (Free Size),₹599,25% off
96,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹255,74% off
97,NuVew,UV Protection Sports Sunglasses (73),₹549,45% off
98,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹293,82% off
99,ROYAL SON,UV Protection Retro Square Sunglasses (58),₹559,30% off

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone

In [139]:
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [140]:
#chrome driver to initiate url and get web elements for the same using selenium
driver = webdriver.Chrome(r'C:\Users\UmarFarooque\Downloads\chromedriver_win32\chromedriver.exe')
time.sleep(3)
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1"

driver.get(url)
time.sleep(3)

driver.maximize_window() # to maximise the chrome window

# Creating empty list
urls=[]
short_review=[]
Rating1 = []
full_review = []

time.sleep(2)
#Taking 10 pages into consideration using for loop
for i in range(10):
    url=driver.find_element_by_xpath("//a[@class='ge-49M']").get_attribute('href')
    driver.get(url)
    #for scrapping the short review
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Rating1.append(j.text)
    for m in driver.find_elements_by_xpath ("//div[@class='']"):
        full_review.append(m.text)

In [141]:
# creating dataframe and assigning lists to columns
df7 = pd.DataFrame({})
df7['Short Desc'] = short_review
df7['Full Desc'] = full_review
df7['Ratings'] = Rating1

In [142]:
df7

,Short Desc,Full Desc,Ratings
0,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...,5
1,Best in the market!,Great iPhone very snappy experience as apple k...,5
2,Highly recommended,What a camera .....just awesome ..you can feel...,5
3,Classy product,Totally in love with this ❤ the camera quality...,5
4,Highly recommended,It's my first time to use iOS phone and I am l...,5
...,...,...,...
95,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...,5
96,Worth every penny,"i11 is worthy to buy, too much happy with the ...",5
97,Good choice,So far it’s been an AMAZING experience coming ...,4
98,Highly recommended,iphone 11 is a very good phone to buy only if ...,5
99,Perfect product!,It’s a must buy who is looking for an upgrade ...,5

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [2]:
#importiong neccessary libraries
import selenium
import pandas as pd
from selenium import webdriver
#chrome driver to initiate url and get web elements for the same using selenium
driver = webdriver.Chrome(r'C:\Users\UmarFarooque\Downloads\chromedriver_win32\chromedriver.exe')

url = "https://www.flipkart.com/"

driver.get(url)

driver.maximize_window() # to maximise the chrome window

#entering "Data Analyst" in job search bar using selenium driver
search_glass = driver.find_element_by_class_name('_3704LK')
search_glass.send_keys("Sneakers")
#clicking submit button using selenium deriver
button_1 = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
button_1.click()
driver.implicitly_wait(3)
click_button = driver.find_element_by_class_name("L0Z3Pu")
click_button.click()

brand_name1 = []
prd_desc1 = []
price1 = []
discount1 = []

for k in range(1,4):

    
    brand = driver.find_elements_by_class_name('_2WkVRV')
    

    for i in brand:
        brand_name1.append(i.text)

    desc = driver.find_elements_by_class_name('IRpwTa')
    

    for i in desc:
        prd_desc1.append(i.text)

    cost = driver.find_elements_by_class_name("_30jeq3")
    

    for i in cost:
        price1.append(i.text)


    dis = driver.find_elements_by_class_name("_3Ay6Sb")
    

    for i in dis:
        discount1.append(i.text)
    
    
        nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")              #scraping the list of buttons from the page

    try:

        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
        

    except:

        driver.get(nxt_button[0].get_attribute('href'))

In [3]:

brand_name1 = brand_name1[0:100]
prd_desc1 = prd_desc1[0:100]
price1 = price1[0:100]
discount1 = discount1[0:100]

In [4]:

# creating dataframe and assigning lists to columns
df8 = pd.DataFrame({})
df8['brand_name'] = brand_name1
df8['prd_desc'] = prd_desc1
df8['[price]'] = price1
df8['discount'] = discount1

In [5]:
df8

,brand_name,prd_desc,[price],discount
0,DUCATI,Sneakers For Men,"₹1,289",65% off
1,City Soles,Cipramo Canvas Shoes for Men Sneakers For Men,₹630,36% off
2,Numenzo,Sneakers For Men,₹378,62% off
3,Chevit,Unique & Perfect Collection Combo Pack of 02 S...,₹420,71% off
4,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹499,75% off
...,...,...,...,...
95,BIRDE,Trendy and Stylish Casual Shoes Sneakers For Men,₹474,52% off
96,Bonexy,Sneakers For Men,"₹4,999",36% off
97,PUMA,Scuderia Ferrari Race IMEVA X-Ray 2 Sneakers F...,₹630,77% off
98,bluemaker,casual for men Sneakers For Men,"₹1,049",55% off
99,ROCKFIELD,Sneakers For Men,₹449,77% off


Q9:Go to the link - https://www.myntra.com/shoesSet Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image

In [7]:
driver = webdriver.Chrome(r'C:\Users\UmarFarooque\Downloads\chromedriver_win32\chromedriver.exe')

url = "https://www.myntra.com/shoes"

driver.get(url)

driver.maximize_window() # to maximise the chrome window

In [8]:

driver.find_element_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div").click()

In [9]:
driver.find_element_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div").click()

In [10]:
brand_name2 = []
prd_desc2 = []
price2 = []



brand = driver.find_elements_by_class_name('product-brand')
    

for i in brand:
    brand_name2.append(i.text)

desc = driver.find_elements_by_class_name('product-product')
    
for i in desc:
    prd_desc2.append(i.text)

cost = driver.find_elements_by_class_name("product-price")
    

for i in cost:
    price2.append(i.text)

In [11]:
len(brand_name2),len(prd_desc2),len(price2)

(50, 50, 50)

In [14]:
driver = webdriver.Chrome(r'C:\Users\UmarFarooque\Downloads\chromedriver_win32\chromedriver.exe')

url = "https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=2&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0"

driver.get(url)

driver.maximize_window() # to maximise the chrome window

In [15]:
brand_name3 = []
prd_desc3 = []
price3 = []



brand = driver.find_elements_by_class_name('product-brand')
    

for i in brand:
    brand_name3.append(i.text)

desc = driver.find_elements_by_class_name('product-product')
    
for i in desc:
    prd_desc3.append(i.text)

cost = driver.find_elements_by_class_name("product-price")
    

for i in cost:
    price3.append(i.text)

In [16]:
len(brand_name3),len(prd_desc3),len(price3)

(50, 50, 50)

In [17]:
# creating dataframe and assigning lists to columns
df9 = pd.DataFrame({})
df9['brand_name'] = brand_name2+brand_name3
df9['prd_desc'] = prd_desc2+prd_desc3
df9['[price]'] = price2+prd_desc3

In [18]:
df9

      brand_name                        prd_desc                      [price]
0           Nike   Men ZOOM SPAN 3 Running Shoes    Rs. 5396Rs. 7195(25% OFF)
1   UNDER ARMOUR    Men Charged Bandit 6 Running                     Rs. 8999
2   UNDER ARMOUR  Men HOVR Sonic STRT Tech Shoes                     Rs. 9999
3           Puma     Axelion Block Running Shoes                     Rs. 5999
4   UNDER ARMOUR     Men Charged Vantage Running                     Rs. 7999
..           ...                             ...                          ...
95          Geox        Men Leather Formal Monks     Men Leather Formal Monks
96          Nike     Men AIR ZOOM PEGASUS 38 Run  Men AIR ZOOM PEGASUS 38 Run
97          Geox           Women Leather Loafers        Women Leather Loafers
98  Kenneth Cole      Men Solid Leather Sneakers   Men Solid Leather Sneakers
99          Geox       Women Solid Leather Pumps    Women Solid Leather Pumps

[100 rows x 3 columns]

Q10: Go to webpage https://www.amazon.in/

In [20]:
driver = webdriver.Chrome(r'C:\Users\UmarFarooque\Downloads\chromedriver_win32\chromedriver.exe')

url = "https://www.amazon.in/"

driver.get(url)

driver.maximize_window() # to maximise the chrome window

#entering "Data Analyst" in job search bar using selenium driver
search_laptop = driver.find_element_by_id('twotabsearchtextbox')
search_laptop.send_keys("Laptop")
#clicking submit button using selenium deriver
button_1 = driver.find_element_by_id('nav-search-submit-button')
button_1.click()
driver.implicitly_wait(3)
driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/div/label/i").click()
driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/16757432031']/span/a/div/label/i").click()

In [21]:
laptop_title = []
laptop_price = []



title = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
    

for i in title:
    laptop_title.append(i.text)

cost = driver.find_elements_by_class_name("a-price-whole")
    

for i in cost:
    laptop_price.append(i.text)

In [22]:
Ratings = []

#locating Ratings

urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")         #collecting urls of all the laptop

UR=[]

for i in urls:

    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops

for url in UR:#loop for every laptop in the list

    driver.get(url)

    try:                  #exception handling for nosuchelementexception                                                    #click the rating link found

        rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")#locating the rating

        Ratings.append(rating.text)#appending the ratings in Ratings list

        

    except:

        Ratings.append("NO rating")#appending the No rating if no rating is there

In [23]:

# creating dataframe and assigning lists to columns
df10 = pd.DataFrame({})
df10['Laptop_Name'] = laptop_title[0:10]
df10['Laptop_Price'] = laptop_price[0:10]
df10['Ratings'] =  Ratings[0:10]

In [24]:
df10

,Laptop_Name,Laptop_Price,Ratings
0,HP Envy 11th Gen Core i7 Processor 13.3-inch (...,"99,990",4 out of 5
1,"Acer Swift 5 14"" (35.56cms) Full HD IPS Displa...","94,365",3.9 out of 5
2,"MSI GF65 Thin, Intel i7-10750H, 15.6"" FHD (39....","81,990",3.8 out of 5
3,HP Pavilion (2021) Thin & Light 11th Gen Core ...,"84,990",4.3 out of 5
4,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"26,990",3.9 out of 5
5,Mi Notebook Horizon Edition 14 Intel Core i7-1...,"59,999",4.4 out of 5
6,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"34,990",3.1 out of 5
7,"HP 14 Thin & Light 14"" (35.56cms) FHD Laptop (...","85,000",4.6 out of 5
8,Dell 14 (2021) i7-1165G7 2in1 Touch Screen Lap...,"93,990",4.3 out of 5
9,"ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 c...","71,990",5 out of 5